/Makefile
Makefile.old
Build
Build.bat
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
share/locale/
share/*.mo
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
Zonemaster-CLI-*
Zonemaster-CLI-*.tar.gz
share/Zonemaster-CLI.pot

# Emacs and other backup files
*.bak
*~
