dist: jammy
group: previous

language: perl

perl:
    - "5.38"
    - "5.34"
    - "5.26"

addons:
  apt:
    packages:
      # From Zonemaster Engine installation instruction for Ubuntu
    - autoconf
    - automake
    - build-essential
    - cpanminus
    - libclone-perl
    - libdevel-checklib-perl
    - libextutils-pkgconfig-perl
    - libfile-sharedir-perl
    - libfile-slurp-perl
    - libidn2-dev
    - libintl-perl
    - libjson-pp-perl
    - liblist-compare-perl
    - liblist-moreutils-perl
    - liblocale-msgfmt-perl
    - libmail-rfc822-address-perl
    - libmail-spf-perl
    - libmodule-find-perl
    - libnet-ip-perl
    - libpod-coverage-perl
    - libreadonly-xs-perl
    - libssl-dev
    - libtest-differences-perl
    - libtest-exception-perl
    - libtest-fatal-perl
    - libtest-pod-perl
    - libtext-csv-perl
    - libtool
    - m4
      # From Zonemaster CLI installation instruction for Ubuntu
    # libmoosex-getopt-perl, see cpan-install below
    # libmodule-install-perl, see cpan-install below
    - libtry-tiny-perl

before_install:
  # Help Perl find modules installed from OS packages
- export PERL5LIB=/usr/share/perl5

  # Provide cpanm helper
  # quoting preserves newlines in the script and then avoid error if the script contains comments
- eval "$(curl https://travis-perl.github.io/init)" --auto

  # Zonemaster LDNS needs a newer version of Module::Install
- cpan-install Module::Install Module::Install::XSUtil

  # IO::Socket::INET6 can't find Socket6 installed from OS package
- cpan-install Socket6 IO::Socket::INET6

  # Install Zonemaster LDNS
- git clone --depth=1 --branch=$TRAVIS_BRANCH https://github.com/zonemaster/zonemaster-ldns.git
- ( cd zonemaster-ldns && cpanm --verbose --notest --configure-args="--no-ed25519" . ) && rm -rf zonemaster-ldns

  # Install Zonemaster Engine
- git clone --depth=1 --branch=$TRAVIS_BRANCH https://github.com/zonemaster/zonemaster-engine.git
- ( cd zonemaster-engine && cpanm --verbose --notest . ) && rm -rf zonemaster-engine

  # Fix Header files location issue
- if [[ ! -e /usr/include/sys/ ]]; then sudo mkdir /usr/include/sys/; fi
- if [[ ! -e /usr/include/bits/ && -e /usr/include/x86_64-linux-gnu/bits/ ]]; then sudo ln -s /usr/include/x86_64-linux-gnu/bits/ /usr/include/bits; fi
- if [[ ! -e /usr/include/sys/socket.h ]]; then sudo ln -s /usr/include/bits/socket.h /usr/include/sys/socket.h; fi
